.row
  .col-md-6.col-md-offset-3
    %h1 Sit back and relax
    %p For the next two hours this nifty service will add tasks to your tasklist from Twitter using the hashtag #dtv

    %p We will take of your TODO list :-)

    %p
      %em PS: #dtv is Dutch for "Durf te vragen" which translates to "Dare to ask" and is used by Dutch people on twitter to ask questions.